{
  "trailingComma": "es5",
  "printWidth": 80,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "bracketSameLine": true,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": false
}
